<?xml version="1.0" ?>

<world name="demo_world" gravity="0.0 0.0 0.0">

	<robot name="Kuka-IIWA">
		<!-- model node is required -->
		<model dir="../resources/04-passivity_demo_square_ee" path="iiwa7.urdf" name="kuka_iiwa" />
		<!-- origin node is optional -->
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	</robot>

	<static_object name="Floor">
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
		<!-- <collision>
	        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <geometry>
	            <box size="3.0 3.0 0.1" />
	        </geometry>
	    </collision> -->
	    <visual>
	        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <geometry>
	            <box size="3.0 3.0 0.1" />
	        </geometry>
	        <material name="material_red">
		        <color rgba="0.1 0.1 0.1 1.0" />
	        </material>
	    </visual>
	</static_object>

	<robot name="Plate">
		<model dir="../resources/04-passivity_demo_square_ee" path="plate.urdf" name="plate" />
		<origin xyz="0.0 -0.6 0.25" rpy="0 0 0" />
	</robot>

<!-- 	<static_object name="Box">
		<origin xyz="0 -0.6 0.1" rpy="0 -0.1 0" />
		<origin xyz="0 -0.6 0.1" rpy="0 0 0" />
		<collision>
	        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <geometry>
	            <box size="0.4 0.4 0.2" />
	        </geometry>
	    </collision>
	    <visual>
	        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <geometry>
	            <box size="0.4 0.4 0.2" />
	        </geometry>
	        <material name="material_red">
		        <color rgba="1 0.1 0.1 1.0" />
	        </material>
	    </visual>
	</static_object> -->

	<light name="light1" type="directional">
		<position xyz="-2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light2" type="directional">
		<position xyz="-2.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<camera name="camera_fixed">
		<position xyz="-0.6 -0.6 0.4" />
		<vertical xyz="0.0 0.0 1.0" />
		<lookat xyz="0.0 -0.8 0.4" />
	</camera>

	<!-- TODO: support stereo specification -->

</world>
